.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__box {
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}

/* Меняет цвет svg при hover и focus */
.modal__close-icon svg:hover,
.modal__close-icon svg:focus {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

.is-hidden {
  /*Комбинация для скрытия элементов */
  opacity: 0;
  /* Делает не видимым */
  visibility: hidden;
  /*Убирает возможность фокусирываться на элементах  */
  pointer-events: none;
  /* Избегает попадания случайным кликом */
}

.modal__text {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: start;
}

.form__field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  padding-left: 42px;
  outline-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field label {
  margin-bottom: 4px;
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .input,
.form__field:hover .input {
  border: 1px solid var(--accent-color);
}

.form__field:focus-within .form__icon,
.form__field:hover .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.form__textarea-label {
  margin-bottom: 4px;
  color: var(--text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__backdrop-textarea {
  resize: none;
  cursor: pointer;
  outline-color: var(--accent-color);
  height: 120px;
  padding: 12px 16px;
}

.form__textarea textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__input-checbox {
  /* Сбрасывает все оформление от браузера  */
  appearance: none;
  position: absolute;
}

/* Если .input выбран(:checked) то пусть его сосед 
.checkbox-text а точнее его ::before будет выполнять
заданые дйствия */
.form__input-checbox:checked + .form__checkbox-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}

.form__checkbox-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.form__checkbox-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.form__checkbox-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 4px;
}

.form__backdrop-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--background-hero-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
